* {
    font-family: sora, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: relative;
    background-image: url(imagens/fundo-marca.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo{
    color: white;
    font-size: 3vw;
    position: absolute;
    left: 50%;
}

.selecionar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    z-index: 1; 
}

.selecionar .botao {
    width: 20vw;
    height: 60px;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
}

.selecionar label {
    color: aliceblue;
    margin-left: 40px;
}

.selecionar .botaoIniciar {
    background-color: aliceblue;
    color: #006c04;
    border: none;
    margin-top: 15px;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 40px;
    transition: transform 0.3s ease;
}

.selecionar .botaoIniciar:hover {
    color: rgb(0, 0, 0);
    background-color: #def265;
    transform: scale(1.1);
}

dialog{
    width: 190px;
    height: 90px;
    border-radius: 10px;
    padding: 8px;
    background-color: #e4ff33;
    color: #171717;
    border: none;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop{
    background: #1717179c;
}

dialog > button{
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #171717;
    color: white;
    position: absolute;
    left: 130px;
    top: 55px;
}