@font-face {
    font-family: 'SF pro';
    src: url(font/SFPRODISPLAYREGULAR.OTF) format(OpenType);
}

*{
    padding: 0%;
    margin: 0%;
    font-family: 'SF pro';
}

body{
    background-image: url(imagens/fundo-marca-950.png);
    background-repeat: repeat;
    background-size: cover;
}

main{
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ImgLogin{
    background-color: #def256;
    width: 300px;
    height: 320px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
}

#ImgLogin > img{
    width: 300px;
}

#CorpoLogin{
    width: 250px;
    height: 320px;
    background-color: #171717;
    border-top-right-radius: 10px;
}

#CorpoLogin > h1{
    color: #def256;
    margin: 10px 0px 10px 20px;
}

#AreaUser{
    margin: 15px 0px 10px;
    display: flex;
    flex-direction: column;
}

#AreaUser > p{
    color: white;
    margin: 10px 0px 10px 10px;
}

#AreaUser > input{
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin: auto;
}

#AreaSenha{
    margin: 10px 0px 35px;
    display: flex;
    flex-direction: column;
}

#AreaSenha > p{
    color: white;
    margin: 10px 0px 10px 10px;
}

#AreaSenha > input{
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin: auto;
}

#EntrarLink > button{
    width: 230px;
    height: 30px;
    font-weight: bold;
    display: block;
    margin: auto;
    border-radius: 5px;
    border-style: none;
}

#EntrarLink{
    text-decoration: none;
}

#EntrarLink > button:hover{
    background-color: rgb(188, 188, 188);
    cursor: pointer;
}

#NaoCadastro{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-top: 20px;
}

#NaoCadastro > a{
    color: white;
    
}

dialog{
    width: 180px;
    height: 80px;
    border-radius: 10px;
    padding: 8px;
    background-color: #e4ff33;
    color: #171717;
    border: none;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop{
    background: #1717179c;
}

dialog > button{
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #171717;
    color: white;
    position: absolute;
    left: 130px;
    top: 55px;
}